# Description: Environment variables for the project
# Usage: Copy this file to .env and fill in the values, .env files will be ignored by git for security
PENN_KEY=
MQTT_HOST=
MQTT_PORT=
USERNAME=
PASSWORD=

TB_ACCESS_TOKEN=

TOPIC_PREFIX=tb-proxy/${TB_ACCESS_TOKEN}
TB_VP_ATTRIBUTE_TOPIC=${TOPIC_PREFIX}/attributes
TB_VP_TELEMETRY_TOPIC=${TOPIC_PREFIX}/telemetry
TB_VP_RPC_TOPIC=${TOPIC_PREFIX}/rpc

INSULIN_TOPIC=${USERNAME}/${PENN_KEY}/insulin-pump
CGM_TOPIC=${USERNAME}/${PENN_KEY}/cgm
